<div class="container">
    <form id="form">
        <input type="text" id="send-msg" value="test message.">
        <input type="submit">
    </form>

    <ul id="msgs" class="list-group"></ul>
</div>
<script src="/application.js" type="text/javascript"></script>