<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>チャット（仮）</title>
  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="stylesheet" href="/bootstrap-4.3.1-dist/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <form id="form">
      <input type="text" id="send-msg" value="test message.">
      <input type="submit">
    </form>


    <ul id="msgs" class="list-group"></ul>
    <script src="/application.js" type="text/javascript"></script>
  </div>
</body>

</html>