<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="UTF-8">
	<title><%= @title %>:page</title>
	<link rel="shortcut icon" href="/favicon.ico">
	<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>

<body>
	<header></header>
	<%= yield %>
	<footer></footer>
</body>

</html>