<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>チャット（仮）ユーザ登録</title>
  <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
  <form action="user_registration", method="POST">
	<div>
		<input type="text" name="user_name" value="user name">name
	</div>

	<!--
	<div>
		<input type="text" name="email" value="email address">
	</div>
	-->

	<div>
		<input type="password" name="password" value="">password
	</div>

	<div>
		<input type="password" name="password_confirm" value="">password(confirmation)
	</div>

	<div>
		<input type="submit" value="submit">
	</div>
  </form>
</body>
</html>
